extends navbar 

block contact 

    ul#messages 

    form#contact(action="")
        input(type="text" autocomplete="off")#message
        button send 
    script(defer,src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script
        include ../client.js 