doctype html
html
  head
    title #{title}
    meta(name="description", content="This is a description of my website.")
    link(rel="stylesheet", href="./resources/styles.css")
    
  body
  block navbar