
extends layout

block navigbar

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Punk Beers
    button.navbar-toggler(type='button')
      span.navbar-toggler-icon
    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/') accueil
        li.nav-item
          a.nav-link(href='/food-courts') Food Courts
          a.nav-link(href='/parking') Parking
        li.nav-item
        li.nav-item
          a.nav-link(href='/places') Places


 
  