extends navbar

block accueil 

    div.container-fluid
        div.row
            div.col-md-12
                div.text-center.mt-5
                    h1 Welcome To My Beer Website
                    h3 A Website about Beer
                    a.btn.btn-primary.btn-lg(href='/boissons') Browse Beers