block footer

  footer.footer
    .container
      .row
        .col-md-6.text-center.text-md-start
          p © 2023 PunkIPA, Inc. Tous droits réservés.
        .col-md-6.text-center.text-md-end
          a(href='#') Politique de confidentialité
          span.sep
          a(href='#') Conditions d'utilisation