body {
    background-color: white;
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.sep {
    border-right: solid rgb(222, 222, 222) 1px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer{
    margin-top: 10px;
    padding-top: 10px;
    background: #f8f9fa;
}
.wid{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#messages {
    overflow-y: hidden
}

#messages > .list-group-item:nth-child(2n) {
    background-color: #e9e9e9;
    max-height: max-content;
}

li.list-group-item.flexli {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    max-height: 100%;
    word-wrap: normal;
    word-break: break-all;
}

li.list-group-item.flexli > span {
    width: 70%
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
li.list-group-item.flexli > .time {
    text-align: right;

    width: 30%;
}
#history {
    left: 91%;
    position: relative;
}
a.linkDetails {
    padding: 10px;
    width: 100%;
    border-radius: 0px;
}

div.card-body {
    padding: 0px
}